@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  padding: 0.5em 2em;
  background-color: #7169ff;
  font-size: 1rem;
  color: #fff;
  letter-spacing: var(--spacing);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
