:root {
  --center: center;
  --spacing: 1pt;
}

.text-center {
  text-align: var(--center);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: var(--center);
  align-items: var(--center);
  height: 80vh;
}

.form-wrapper {
  border: 1px solid #fff;
  border-radius: 30px;
  box-shadow: 8px 8px 12px 0 rgba(165, 165, 165, 0.5) inset,
    -4px -4px 8px 0 rgba(165, 165, 165, 0.5) inset;
  padding: 1em;
}

.form-title {
  letter-spacing: var(--spacing);
}

.form-control {
  padding: 1em;
}

.form-field {
  margin-left: 0.5em;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
}
